---
layout: archive
---

{{ content }}

<!--
<figure class="align-center">
  <a href="/assets/images/team.jpg" title="The Pixel Tracker logo" alt="The Pixel Tracker logo">
  <img src="/assets/images/team.jpg" alt=""></a>
</figure>-->

<h1 class="archive__title">Recent News</h1>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.news %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<h1 class="archive__title">Recent Publications</h1>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.publications %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}


